@use "custom" as *;

.heroSection {
  border-bottom: 1px solid $light;
  padding-bottom: 60px;
  .banner-img {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .sidebar-main {
    position: relative;
    background-color: #fff;

    .sidebar {
      position: absolute;
      border-radius: 15px;
      width: 100%;
      top: 0;
      left: 0;
      transition: width 0.1s ease-in-out;
      box-shadow: 2px 4px 14px -7px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 4px 14px -7px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 4px 14px -7px rgba(0, 0, 0, 0.75);

      .sidebar-nav-head {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 1.15rem 2rem !important;
      }

      nav {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          padding: 0 2rem;
          li {
            // position: relative;
            display: block;
            align-items: center;
            padding: 0.7rem 0;

            &:not(:last-child) {
              border-bottom: 2px solid $light-muted-color;
            }

            position: relative;
            background-color: transparent;
            transition: background-color 0.25s ease-in-out;
            a {
              color: $muted-color;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .text {
                font-size: 16px;
              }
            }

            .sub-menu {
              position: absolute;
              top: 0;
              left: 100%;
              background: #fff;
              transition: all 0.5s ease;
              z-index: 9;
              display: none;

              .list-item {
                ul {
                  padding: 0 !important;
                  li {
                    border-bottom: none;
                    a {
                      color: $muted-color;
                    }
                  }
                }
              }

              &.mega-menu {
                width: 860px;
                display: none;
                // flex-wrap: wrap;
                padding: 60px 40px;
                border-radius: 15px;
                box-shadow: 12px 6px 5px -10px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 12px 6px 5px -10px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 12px 6px 5px -10px rgba(0, 0, 0, 0.75);

                .list-item {
                  &.item1 {
                    flex: 1;
                  }
                  &.item2 {
                    flex: 1;
                  }
                  &.item3 {
                    flex: 1;
                  }
                  &.item4 {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .item4-img1 {
                      flex: 1 100%;
                    }
                    .item4-img2 {
                      flex: 1 100%;
                    }

                    .item4-col {
                      gap: 15px;
                    }
                  }
                }
              }
            }

            &:hover {
              .mega-menu {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar-main {
    .sidebar {
      display: none;
    }
  }
}
@media (max-width: 1200px) {
  .heroSection {
    .sidebar-main {
      .sidebar {
        width: 80px;
        text-align: center;

        nav {
          ul {
            padding: 0;
            li {
              position: relative;
              padding: 0;

              .text {
                display: none;
              }

              &:hover {
                .text {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: absolute;
                  background: $primary;
                  height: 38px;
                  width: 100px;
                  top: 0;
                  left: 100%;
                }
              }
              a {
                padding: 0.6rem 0;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
